.bg{
    background-color: #1c1c1c;
}

.navbar{
    display: flex;
    justify-content: center;
    background-color: red;
    height: auto;
    margin-top: 0;
}

.opciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

button{
    background-color: #1c1c1c;
    border: solid 0.1rem;
    border-color: red;
    border-radius: 0.3rem;
    color: white;
    height: 3rem;
    width: 12rem;
}

button:hover{
    background-color: red;
}

.custom-popup{
    background-color: #1c1c1c;
    color: white;
    width: 58rem;
    height: auto;
}

.custom-title{
    color: red;
}

.custom-confirm-btn{
    background-color: rgb(255, 53, 53);
    border: solid 0.1rem;
    border-color: red;
    border-radius: 0.3rem;
    color: white;
    height: 3rem;
    width: 12rem;
}

.custom-cancel-btn{
    background-color: #1c1c1c;
    border: solid 0.1rem;
    border-color: red;
    border-radius: 0.3rem;
    color: white;
    height: 3rem;
    width: 12rem;
}

label{
    display: flex;
    flex-direction: column;
}